.btn-cat:focus, .btn-cat:active {
   outline: none !important;
   box-shadow: none;
}

.cat-list-item {
   padding: 0px !important;
}

.btn-cat {
  height: 44px;
  margin: 0px;
  width: 190px;
}

#categories {
   margin-right: 50px;
}

.basket-container {
    position: relative;
    /*width: 200px;*/
    /*padding: 15px 10px;*/
}

.basket-items {
    position: absolute;
    top: 40px;
    width: 100%;
    z-index: 10;
    padding: 10px 15px;
    background-color: #f7e1e1;
    width: 300px;
}

.comment-form {
    padding-top: 30px;
    margin-top: 0px;
}

.com-author {
    margin-top: 10px
}

.com-order {
    margin-top: 10px;
    width: 260px;
    margin-left: 0px;
    margin-right: 10px;
}

.com-text {
    margin-top: 10px;
    height: 100px;
}

.com-rating {
    margin-top: 10px;
    width: 260px;
}

.form-order {
    margin-top: 15px;
    padding-left: 20px;
}

.div-order {
    border-color: #c7cbce !important;
}

.div-order-list {
    border-color: #c7cbce !important;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.order-label {
    width: 100px;
}

.order-input {
    width: 400px !important;
}