{% load get_categories %}
{% load add_star_rating %}
{% load static %}

<!-- main block -->
<div id="list-block">
    {% if products %}
        <div class="row" style="padding-top: 16px;">
             {% for product in products %}
                <div class="col-lg-4 col-xl-3 text-center border rounded product-block">
                 <a href="{% url 'product_detail' slug=product.slug %}" class="block-anchor">
                        <div class="text-center">
                            <img src="{{ product.get_main_image.image.url }}" width="100" alt="">
                        </div>
                        <h3>Prom: {{ product.promotion.proc }}</h3>
                        <h6>{{ product.mean_review|add_star_rating }}</h6>
                        <h6><strong>{{ product.name }}</strong></h6>
                        <div>
                            <h6 class="d-inline-block float-left" style="font-size: 12px;">Артикул: {{ product.art }}</h6>
                             <h6 class="text-right" style="font-size: 10px;">
                                <img src="{% static 'icons/chatbox-ellipses-outline.svg' %}" alt="" width="22" height="22" title="Bootstrap" style="">
                                {{ product.get_review_count }}
                            </h6>
                        </div>
                        <h6 style="font-size: 13px">{{ product.description|truncatechars:50 }}</h6>
                         {% if  product.promotion %}
                            <h6 style="text-decoration: line-through">{{ product.price }} грн.</h6>
                            <h5>With prom: {{ product.price_with_promotion }} грн.</h5>
                         {% else %}
                             <h5>{{ product.price }} грн.</h5>
                        {% endif %}
                 </a>
                </div>
                <br>
            {% endfor %}
        </div>
    {% else %}
        <h2 style="margin-left: 250px">По Вашему запросу ничего не найдено</h2>
    {% endif %}
</div>